body{
    background-color: #F5F9F9;
    /* background-size: cover; */
}

.login{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-error {
    color: red;
    font-size: 90%;
}

.unlike-btn {
    color: red;
}

.search-result {
    position: absolute;
    width: 208px;
    top: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 999;
    display: none;
}